@import "bourbon";

/* Global */
@import'global';

body {
	-webkit-perspective: 400px;
}

/* Lean Foward */

.lean-foward-container {
	position: relative;
	margin: 0 auto;
	width: 120px;
	height: 180px;

	&:hover .lean-foward-box {
		@include transform(rotateX(-80deg));
	}
}

.lean-foward-box {
	@include threedbox();
}

 /* Open Door */

.open-door-container {
	@include threedbox-container();

	&:hover .open-door-box {
		@include transform(rotatey(80deg));
	}
}

.open-door-box {
	@include threedbox();
}

 /* Diagonal Skew - 3D */

.diagonal-skew-container {
	@include threedbox-container();

	&:hover .diagonal-skew-box {
		@include transform(rotate3d(1,1,0,65deg));
	}
}

.diagonal-skew-box {
	@include threedbox();
}

/* Fan Effect */

.fan-effect-container {
	position: relative;
	margin: 30px 0 0 0;
	display: inline-block;
	width: 10%;
	height: 180px;

	&:hover .fan-effect-box {
		@include transform(rotateX(-80deg));
	}
}

.fan-effect-box {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-position: 50% 50%;
	background-color: $green;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	@include transition (transform (.1s ease-in));
}

.fan5 {
	z-index: 100;
}

.fan6 {
	z-index: 99;
}

.fan7 {
	z-index: 98;
}

.fan8 {
	z-index: 97;
}

.fan9 {
	z-index: 96;
}


/* Z axis  */

.z-zoom-container {
	@include threedbox-container();

	&:hover .z-zoom-box {
		@include transform(translateZ(100px));
	}
}

.z-zoom-box {
	@include threedbox();
}

/* Flip 3D  */

.flip-3d-container {
	@include threedbox-container();
	@include transition (transform .3s ease-in);
	/* Carry over 3d transition to children */
	@include transform-style(preserve-3d);

	div {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		position: absolute;
		box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
		@include backface-visibility(hidden);
	}

	&:hover {
		@include transform(rotateY(180deg));
	}
}

.flip-front {
	z-index: 100;
	background-color: $green;
}

.flip-back {
	background-color: $orange;
	@include transform(rotateY(180deg));
}

/* Flip Oposite - 3D  */

.flip-row-container {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 180px;
	@include transition (transform(.4s ease-in));
	@include transform-style(preserve-3d);
	@include transform(rotateY(-1turn));

	div {
		position: absolute;
		margin: 50px 0 0 0;
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
		@include backface-visibility(hidden);
	}
}

.flip-row-container2 {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 180px;
	@include transition (transform .4s ease-in);
	@include transform-style(preserve-3d);
	@include transform(rotateY(-1turn));

	div {
		position: absolute;
		margin: 50px 0 0 0;
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
		@include backface-visibility(hidden);
	}
}

.flip-row-front {
	z-index: 100;
	background-color: $green;
}

.flip-row-back {
	background-color: $orange;
	@include transform(rotateY(180deg));
}

.flip-row-wrapper {
	&:hover .flip-row-container {
		@include transform(rotateY(-1turn));
	}

	&:hover .flip-row-container2 {
		@include transform(rotateY(1turn));
	}
}

































