@import "bourbon";

/* Global */

/* Variables */

$grey: #C7C7C7;

$green: #24E397;

$orange: #F28C6F;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.title {
	margin: 65px 0 0 0;
  	color: $grey;
  	font-size: 2em;
}

.sub-title {
	margin: 0px 0 0 0;
	color: $grey;
	font-size: 1em;
}

li {
	margin: 65px 0 0 0;
  	color: $grey;
  	font-size: 16px;
}

a {
	color: $grey;
}

.contain-all {
	padding: 0 0 0 20px;
}

.contain-3d {
	padding: 0 0 0 40px;
}

/* Button Play */

@mixin button($bg, $color: white){
	display: inline-block;
	padding: 6px 18px;
	height: 40px;
	min-width: 60px;
	box-shadow: inset 0 2px 0 -1px lighten($bg, 8%),
				inset 0 -2px 1px -1px darken($bg, 12%);
	
	border: 1px solid darken($bg, 5%);
	border-radius: 6px;
	background: $bg;

	text-shadow: 0 -1px /* blur */0 darken($color, 10%);
	color: $color;
	text-align: center;
	font-size: 22px;
	line-height: 40px;
	font-family: Helvetica, sans-serif;

	&:hover {
    	border: 1px solid lighten($bg, 1%);
    	background: linear-gradient(to bottom, lighten($bg, 20%) 0%, darken($bg, 0%) 100%);
  	}

  	&:active {
    	background: linear-gradient(to bottom, lighten($bg, 20%) 0%, darken($bg, 0%) 100%);
  	}
}

.red-button {
	@include button($orange);
}

.green-button {
	@include button($green, yellow);
}

.blue-button {
	@include button($grey);
}

/* Green Square */

@mixin greenbox(){
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 25%;
	background: $green;
	@include transition(all 1s ease);
}

@mixin small-greenbox(){
	width: 60px;
	height: 60px;
	background-color: $green;
	@include transition-duration(.3s)
}

@mixin small-greenbox-container(){
	margin: 30px 0 0 0;
	width: 60px;
	height: 60px;
}

@mixin threedbox(){
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-position: 50% 50%;
	background-color: $green;
	box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
	@include transition (transform (.4s ease-in));
}

@mixin threedbox-container(){
	position: relative;
	margin: 0 auto;
	width: 120px;
	height: 180px;
}
























